.post-container {
  background: #ffc6d3;
  padding: 3%;
  margin: 0 10%;
}

.heading {
  color: #fd8bb0;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 350px;
  height: 350px;
}

.info {
  padding: 3px;
}

